body {
    /*overflow: hidden;*/
    margin: 0;
    margin-bottom: 10px;
    font-family: arial;
}

.main-container {
    display: grid;
    width: 100%;
    background-color: white;
    
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    
    grid-template-columns: 6fr 2fr;
}

.head-container {
    display: grid;
    background-color: #444;
    grid-column: 1/3;
    grid-row: 1;
    padding: 10px;
    min-height: 50px;
    grid-template-columns: 1fr 6fr 1fr;
}

.logo-container > img {
    max-height: 100%;
    grid-column: 1;
}

#title {
    grid-column: 2;
    align-self: center;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.body-container {
    background-color: #ddd;
    min-height: 0px;
    grid-row: 2/4;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    
    text-align: center;
    font-family: arial;
    font-weight: 300;
    color: black;
    
}

.sidebar-container {
    background-color: #ddd;
    min-height: 100px;
    grid-row: 2;
    
    padding: 10px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    
    align-self: center;
    align-content: center;
    
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar-container > .button {
    
}

.button {
    background-color: #444;
    padding: 5px;
    text-align: center;
    align-self: center;
    padding: 20px;
    min-width: 200px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 4px;
}

.img-container {
    margin: 5px;
    align-self: center;
}

.img-container > img {
    width: 100%;
}

@media(max-width: 700px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
    }
    
    .head-container {
        padding: 5px;
    }
    
    .logo-container {
        display: none;
    }
    
    .body-container {
        grid-row: 2;
    }
    
    .sidebar-container {
        grid-row: 3;
    }
}